<launch>
<arg name="set_url" default="10.60.8.174:8080"/>

  <include file="$(find vidsrv)/launch/launch_cam.launch">
    <arg name="url" value="$(arg set_url)"/>
  </include>
  <include file="$(find vidsrv)/launch/launch_imu.launch">
    <arg name="url" value="$(arg set_url)"/>
  </include>

  </launch>